@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  color: #525252;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.metronome {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 450px;
  justify-content: space-between;
}

.bpm-display {
  width: 100%;
  text-align: center;
  color: #fa545c;
  font-weight: bold;
}

.bpm-display .tempo {
  font-size: 4em;
}

.tempo-text {
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
}

.tempo-settings {
  display: flex;
  justify-content: space-between;
}

.tempo-settings .adjust-tempo-btn {
  width: 30px;
  height: 30px;
  font-size: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}

.tempo-settings .adjust-tempo-btn:hover {
  background: #fa545c;
}

.tempo-settings .decrease-tempo {
  line-height: 25px;
}

.tempo-settings .increase-tempo {
  line-height: 32px;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 70%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fa545c;
  cursor: pointer;
  margin-top: -8px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fa545c;
  cursor: pointer;
  border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: #ddd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  background: #ddd;
}

.transport-bar {
  display: flex;
  justify-content: center;
}

.sound-selectors {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.sound-selectors div:hover {
  background: #ff656c;
}

.sound-selector-01 {
  width: 70px;
  height: 70px;
  font-size: 0.7em;
  text-align: center;
  background: #222222;
  border-radius: 50%;
  color: #fff;
  line-height: 70px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
}

.sound-selector-02 {
  width: 70px;
  height: 70px;
  font-size: 0.7em;
  text-align: center;
  background: #d9d9d9;
  border-radius: 50%;
  color: #070707;
  line-height: 70px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
}

.tap-tempo-button {
  width: 70px;
  height: 70px;
  font-size: 0.7em;
  text-align: center;
  background: #00bbff;
  border-radius: 25%;
  color: #070707;
  line-height: 70px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
}

.tap-tempo-button:hover {
  background: #3a7a91;
}

.sound-selector-01.selected {
  background: #ff656c;
}

.sound-selector-02.selected {
  background: #ff656c;
}

.start-stop {
  width: 70px;
  height: 70px;
  font-size: 0.7em;
  text-align: center;
  background: #fa545c;
  border-radius: 50%;
  color: #fff;
  line-height: 70px;
  margin: 0 auto;
  cursor: pointer;
}

.start-stop:hover {
  background: #ff656c;
}

.measures {
  display: flex;
  justify-content: center;
}

.measures .stepper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
  font-size: 2em;
}

.measures .stepper:hover {
  background: #ff656c;
  color: #fff;
}

.measures .subtract-beats {
  line-height: 40px;
}

.measures .measure-count {
  margin: 10px 0;
  font-size: 1.2em;
}

.measures .add-beats {
  line-height: 40px;
}

.beats-per-measure-text {
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
}
